.u-section-1 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-1 .u-shape-1 {
  height: 228px;
  margin: 235px auto 0 0;
}

.u-section-1 .u-product-1 {
  min-height: 889px;
  width: 887px;
  margin: -413px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 486px;
  margin: 0 -60px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 616px;
  min-height: 334px;
  background-image: none;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 10px 137px 10px 136px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-product-1 {
    height: auto;
    width: 731px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-product-1 {
    min-height: 862px;
    width: 697px;
    margin-top: -396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 84px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-product-1 {
    min-height: 681px;
    width: 488px;
    margin-top: -284px;
    margin-left: 26px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-shape-1 {
    height: 119px;
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-product-1 {
    min-height: 591px;
    width: 304px;
    margin-top: -173px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-1 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 62px;
    padding-bottom: 11px;
    padding-left: 62px;
  }
}